.header {
  background: linear-gradient(
    310deg,
    rgba(30, 241, 247, 1) 0%,
    rgba(95, 158, 160, 1) 100%
  );
  text-align: center;
  color: #fff;
  padding: 40px;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
  text-align: right;
}

.background-income {
  background-color: rgba(0, 255, 0, 0.226);
}
.background-cost {
  background-color: rgba(255, 0, 0, 0.226);
}
